<div class="container">

  <div id='top'>
  <h1>Projeto de Rede Neural Artificial</h1>
  </div>
  <div id='main-row' class="row">
    <div class="col-sm-6">
      <p>Reconhecimento de digitos</p>
      <div id="canvas-div"></div>
      <button type="button" class="btn btn-primary" id="recognize">Recognize</button>
      <button type="button" class="btn btn-default" id="clear">Clear</button>
    </div>
    <div class="col-sm-6">
      <p>Resultado</p>
      <img id="canvasimg" style="display:none;">
      <div id='result'></div>
    </div>
  </div>

</div>
